<!-- Contents of header with logo and UTC -->
<img id="logo" src="images/MTPLogoBrown.png">
<div id="clocks">
    <div id="utc">UTC: 00:00:00</div>
</div>

<table id="info">
    <tr>
        <td>state</td>
        <td id="state"></td>
    </tr>
    <tr>
        <td>SB</td>
        <td id="sb-id"></td>
    </tr>
    <tr>
        <td>descr.</td>
        <td id="sb-description"></td>
    </tr>
    <tr>
        <td>target</td>
        <td id="target"></td>
    </tr>
</table>
