html {
    font-family: sans-serif;
}


/******************************************************************************
* HEADER
******************************************************************************/
#header {
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    background-color: aliceblue;
}

#header #logo {
    width: 320px;
    opacity: 75%;
}

#header #clocks {
    margin-top: 35px;
    margin-left: 40px;
    font-size: x-large;
    font-weight: bold;
    color: #303030;
}

#header #info {
    /* width: 320px; */
    margin-left: 60px;
    font-size: medium;
}

#header #info td:first-child {
    width: 5em;
    font-weight: bold;
}



/******************************************************************************
* NAVIGATION BAR
******************************************************************************/
#navbar {
    background-color: #323353;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    height: 40px;
    display: flex;
    align-items: center;
}

#navbar .navitem {
    height: 100%; 
    line-height: 100%;
    display: flex;
    min-width: 8%;

    /* This is how we align content horizontally and vertically inside a flexbox */
    align-items: center;
    justify-content: center;
}

#navbar .navitem:hover {
    background-color: #ffd077;
    color: #323353;
}

#navbar .navitem:hover a {
    color: #323353;
}

#navbar a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
}



/******************************************************************************
* SENSOR TABLE
******************************************************************************/
.sensor-table {
    border-collapse: collapse;
    margin: 0px 0px 0px 5px;
    max-width: 100%;
}

.sensor-table tr:nth-child(even) {
    background-color: gainsboro;
}

.sensor-table th {
    text-align: left;
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid lightslategray;
}

.sensor-table td {
    text-align: left;
    padding: 4px 0px 4px 0px;
    word-wrap: break-word;
    border-bottom: 1px solid lightslategray;
    font-size: small;
}

.sensor-table td.name {
    min-width: 17vw;
    max-width: 17vw; 
}

.sensor-table td.status {
    min-width: 4vw;
    max-width: 4vw; 
}

.sensor-table td.time {
    min-width: 8vw;
    max-width: 8vw;
}

.sensor-table td.value {
    min-width: 68vw;
    max-width: 68vw;
    word-wrap: break-word;
}

.sensor-table td.value pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: midnightblue;
}



/******************************************************************************
* NODES TABLE
******************************************************************************/
.nodes-table-legend {
    color: slategray;
    margin-bottom: 10px;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

.nodes-table-legend td {
    padding: 2px;
}

.nodes-table-legend td:first-child {
    text-align: center;
}


#nodes-table {
    border-collapse: separate; 
    border-spacing: 0px 4px;
    width: 100%;
    font-size: medium;
}


#nodes-table th, #nodes-table td {
    padding: 1px 0px 1px 5px;
    text-align: left;
}

#nodes-table th {
    font-weight: bold;
    color:#323353;
    font-size: large;
}

#nodes-table td {
    border-top: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
    /* NOTE: chrome refuses to apply percentage min-width on table cells */
    min-width: 6vw;

    /* 
    IMPORTANT: position relative allows the cpu progress bar to be place inside its cell
    https://stackoverflow.com/questions/27508962/progress-bar-inside-table-cell/27509082 
    */
    position: relative;
}

/* First column: node number */
#nodes-table td:first-child {
    font-weight: bold;
    font-size: medium;
    border-radius: 2px 0px 0px 2px;
    border-left: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
    min-width: 2.5em;
}

/* Third column: pipeline state */
#nodes-table td:nth-child(3) {
    white-space: nowrap;
}

/* Last column: beam IDs */
#nodes-table td:last-child {
    border-right: 1px solid lightslategray;
    width: 100%; /* Which means: take all remaining horizontal space */
}

#nodes-table .offline {
    opacity: 40%;
}

#nodes-table td.cpu {
    border: 1px solid lightslategray;
}

#nodes-table div.cpu-bar {
    background-color: lightgreen;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0; 
}

.attention {
    background-color: lightgoldenrodyellow;
}

.warning {
    background-color: gold;
}

.critical {
    background-color: coral;
    font-weight: bold;
}

/* Node number cell styles as a function of processing state */
.idle {
    background-color: lightgray;
}

.started {
    background-color: cyan;
}

.preparing, .stopping {
    background-color: steelblue;
}

/* This means both started and running (i.e. node is started, pipeline is running) */
.started.running { 
    background-color: limegreen;
}

/* Make sure to declare error style LAST, so that it overrides the others when multiple
styles are applied.
*/
.error {
    background-color: crimson;
    color: whitesmoke;
}

#nodes-table tr:hover {
    outline: 1px solid black;
    cursor: pointer;
}

#nodes-table tr:hover td {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .content {
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto auto;
    margin: 5% 15%;
    width: 60%;
    background-color: ivory;

    border-radius: 15px;
    overflow: hidden;
}

.modal .title {
    grid-row-start: 1;
    grid-column-start: 1;
    align-content: center;
    color: #323353;
}

.modal .title h2 {
    font-size: x-large;
    padding: 0px 30px;
}

.modal .closebtn {
    grid-column-start: 2;
    grid-row-end: 2;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #323353;
}

.modal .closebtn:hover {
    cursor: pointer;
    color: dodgerblue;
}

.modal pre {
    grid-row-start: 2;
    grid-column-end: span 2;
    font-size: large;
    min-height: 40px;
    white-space: normal;

    /* This will get overriden by Prism */
    color: ivory;
    background-color: #272822;

    /* Override the style imposed by Prism syntax highlighting */
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 20px 30px !important;
}


/******************************************************************************
* BANDPASS DISPLAY
******************************************************************************/
#node-select-container {
    font-size: large;
    display: flex;
    align-items: center;
}

#node-select {
    font-size: large;
    font-weight: bold;
    margin-left: 8px;
    padding: 0px 5px;
}

#node-select-legend {
    font-size: medium;
    font-style: italic;
    color: lightslategrey;
}

#bandpass-std, #bandpass-mean{
    max-width: 1400px;
    max-height: 400px;
    width: 100%;
    border: 1px solid lightslategray;
    margin-top: 15px;
}



/******************************************************************************
* DM-TIME PAGE
******************************************************************************/
#dmtplane-scatter {
    max-width: 1800px;
    max-height: 900px; 
    width: 100%;
    border: 1px solid lightslategray;
    margin-top: 15px;
}




/******************************************************************************
* SNAPSHOTS PAGE
******************************************************************************/
#snapshots-legend {
    font-size: medium;
    font-style: italic;
    color: lightslategrey;
}

#snapshots-table {
    border-collapse: collapse;
    margin-top: 15px;
}

#snapshots-table .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Display child items vertically */
    margin: 4px 5px;
    width: 256px;
}

#snapshots-table .container .header {
    width: 100%;
    border: 1px solid lightslategray;
    background-color: #f0f0ff;
    flex-direction: row;
    padding: 1px 0px 1px 0px;
}

#snapshots-table .container .header .node {
    display: inline;
    padding-left: 2px;
    font-weight: bold;
    color: darkslategray;
}

#snapshots-table .container .header .utc {
    display: inline;
    float: right;
    padding-right: 2px;
    color: darkslategray;
    font-size: small;
}

#snapshots-table .container .imgbox {
    border: 1px solid lightslategray;
    border-top: 0;
    width: 256px;
    height: 128px;
}

#snapshots-table img {
    max-width:100%;
    max-height:100%;
}

#snapshots-table .container:hover .header {
    background-color: #ffd077;
}




/******************************************************************************
* SKYMAP PAGE
******************************************************************************/
#skymap-plot {
    max-width: 1600px;
    max-height: 1200px; 
    width: 100%;
    border: 1px solid lightslategray;
    margin-top: 15px;
}
