<?xml version="1.0" encoding="utf-8"?>
<cheetah>
  {# Beams configuration #}
  <beams>
  {% for beam in beams %}
  <beam>
    <id>{{ beam.absnum }}</id>
    <active>true</active>

    {# Sources #}
    {# Can specify multiple sources, the one to actually use is specified on the command line #}
    <source>
      <psrdada>
        <number_of_threads>1</number_of_threads>
        <number_of_samples>4096</number_of_samples>
        <dada_key>{{ beam.dada_key }}</dada_key>
      </psrdada>
    </source>

    {# Sinks #}
    <sinks>
      {# Print to stdout a list of output streamers available #}
      <list-output-streams>false</list-output-streams>

      {# Number of dedicated threads to run data export services #}
      <threads>1</threads>

      <channels>
        <sps_events>
          <active>true</active>
          <sink>
            <id>candidate_files</id>
          </sink>
          <sink>
            <id>spccl_files</id>
          </sink>
        </sps_events>
      </channels>

      {# Sink configuration #}
      <sink_configs>
        {# Single pulse candidate lists #}
        <spccl_files>
          <extension>.spccl</extension>
          <dir>{{ [outdir, beam.outdir_name] | join('/') }}</dir>
          <id>spccl_files</id>
        </spccl_files>

        {# Single pulse candidate files #}
        <spccl_sigproc_files>
          <id>candidate_files</id>
          {# Max number of samples per file (0=unlimited) #}
          <spectra_per_file>0</spectra_per_file>
          <dir>{{ [outdir, beam.outdir_name] | join('/') }}</dir>
          <extension>.fil</extension>
            <candidate_window>
              <ms_before>{{ candidate_window_ms }}</ms_before>
              <ms_after>{{ candidate_window_ms }}</ms_after>
            </candidate_window>
        </spccl_sigproc_files>
      </sink_configs>
    </sinks>
  </beam>
  {% endfor %}
  </beams>

  <empty>
    {# Exit when the pipeline has been called this many times (0=never) #}
    <exit_count>0</exit_count>
  </empty>

  {# Resource pools configuration #}
  <pools>
    <pool>
      <id>sps_pool</id>
        <concurrent_jobs>0</concurrent_jobs>
      <cpu>
        <affinity>0</affinity>
        {# NOTE: this denotes a number of PHYSICAL cores, not logical cores #}
        <devices>{{ sps.pool.cpus }}</devices>
        <id>sps_cpus</id>
      </cpu>
      <cuda>
        <devices>{{ sps.pool.gpus }}</devices>
        <id>sps_gpus</id>
      </cuda>
    </pool>
  </pools>

  {# Single pulse search configuration #}
  <sps>
    <pool-id>sps_pool</pool-id>

    {# Number of samples to dedisperse (minimum value) #}
    <dedispersion_samples>{{ sps.dedispersion_samples }}</dedispersion_samples>

    <priority>0</priority>
    <threshold>{{ sps.threshold }}</threshold>

    {# Just leave that right here #}
    <astroaccelerate>
      <active>true</active>
    </astroaccelerate>

    {# Dedispersion plan #}
    {% for stage in sps.ddplan %}
    <dedispersion>
      <start>{{ stage.start }}</start>
      <end>{{ stage.end }}</end>
      <step>{{ stage.step }}</step>
    </dedispersion>
    {% endfor %}
  </sps>

  <spsift>
    <active>{{ spsift.active | lower }}</active>
    <dm_thresh>{{ spsift.dm_thresh }}</dm_thresh>
    <sigma_thresh>{{ spsift.sigma_thresh }}</sigma_thresh>
    {# pulse width threshold in ms #}
    <pulse_width_threshold>{{ spsift.pulse_width_threshold }}</pulse_width_threshold>
    <maximum_candidates>{{ spsift.maximum_candidates }}</maximum_candidates>
  </spsift>

  <sps_clustering>
    <active>{{ spscl.active | lower }}</active>
    <time_tolerance>{{ spscl.time_tolerance }}</time_tolerance>
    <dm_thresh>{{ spscl.dm_thresh }}</dm_thresh>
    <pulse_width_tolerance>{{ spscl.pulse_width_tolerance }}</pulse_width_tolerance>
    <linking_length>{{ spscl.linking_length }}</linking_length>
  </sps_clustering>

  <rfim>
    {# RFIM should be in a separate pool, to avoid competing for CPUs with SPS #}
    {# RFIM is fairly CPU-hungry at the moment #}
    {# 'default' means whatever CPUs are not part of any resource pool #}
    <pool-id>default</pool-id>
    <priority>0</priority>
    <rfim_iqrmcpu>
      <active>{{ iqrm.active | lower }}</active>
      <radius>{{ iqrm.radius }}</radius>
      <threshold>{{ iqrm.threshold }}</threshold>
      <edge_channels>{{ iqrm.edge_channels }}</edge_channels>
    </rfim_iqrmcpu>
  </rfim>

  <psbc>
    {# The accumulation interval of the buffer between calls to its handler #}
    <dump_time>10</dump_time>
  </psbc>
</cheetah>