{##### DADA Parameters #####}
HEADER       {{header}}
{# Version of this ASCII header #}
HDR_VERSION  {{hdr_version}}
{# Size of the header in bytes #}
HDR_SIZE     {{hdr_size}}
{# Version of the DADA Software #}
DADA_VERSION {{dada_version}}
{# DADA key to write to. bff0 is our convention for the input buffer #}
DADA_KEY     {{dada_key}}
{# 4=full DADA functionality #}
DADA_MODE    {{dada_mode}}   

{##### Description of the instrument and data #####}
{# telescope and instrument are our choice #}
TELESCOPE  {{telescope}}
INSTRUMENT {{instrument}}
NBIT  {{nbit}}
{# ndim=1 means real-valued, ndim=2 complex #}
NDIM  {{ndim}}
NPOL  {{npol}}
{# Bandwidth in MHz, that's what transpose module expects #}
BW    {{bw / 1000000.0 }}
{# Centre frequency in MHz, that's what transpose module expects #}
FREQ  {{freq / 1000000.0 }}
{# Number of channels in the FBFUSE stream #}
NCHAN {{nchan}}
{# Sampling time of the FBFUSE stream in seconds, read by transpose module #}
TSAMP {{"%0.16f"|format(tsamp)}}

SAMPLE_CLOCK   {{sample_clock}}
{# POSIX timestamp at which the digitisers were synchronised. Subarray sensor 'synchronisation-epoch' #}
SYNC_TIME      {{sync_time}}
{# Same as above, converted to MJD; this is used by the transpose module #}
SYNC_TIME_MJD  {{"%0.16f"|format(sync_time_mjd)}}
{# If we want to specify a start time in the future for mkrecv. Leave it to unset. #}
SAMPLE_CLOCK_START {{sample_clock_start}}
{# FBFUSE heap size #}
HEAP_NBYTES {{heap_size}}

{##### Source names, coordinates, and absolute beam indices #####}
{# SOURCE0 is the source name of the first beam that appears in IDX2_LIST #}
{# RA0, DEC0 are its coordinates #}
{# IBEAM0 is the corresponding absolute beam index #}
{# SOURCE1, RA1, DEC1, IBEAM1 correspond to the second beam, and so on #}
{% for beam in beams %}
IBEAM{{beam.relnum}}  {{beam.absnum}}
SOURCE{{beam.relnum}} {{beam.source}}
RA{{beam.relnum}}     {{beam.ra_hms}}
DEC{{beam.relnum}}    {{beam.dec_dms}}
{% endfor %}

{### Multicast addresses to capture ###}
MCAST_SOURCES  {{mcast_ips|join(',')}}
PORT           {{port}}
{# should match the MTU size set on the interface for capture #}
PACKET_SIZE    {{packet_size}}
{### Network interface configuration ###}
{# We may use UDP or IBV (infiniband) depending on the 'network_protocol' parameter value #}
{% if network_protocol.lower() == 'ibv' %}
IBV_IF         {{if_address}}
IBV_VECTOR     {{ibv_vector}}
IBV_MAX_POLL   {{ibv_max_poll}}
{% else %}
UDP_IF         {{if_address}}
{% endif %}

{### mkrecv internals ###}
{# should be number of MC groups + 1. mkrecv has one extra management thread #}
NTHREADS    {{nthreads}}
{# Internal mkrecv parameter: "Maximum number of in-flight heaps". This determines the size of an internal mkrecv buffer #}
NHEAPS      {{nheaps}}
{# The percentage fill level for DADA block before the temporary block is copied over to it #}
LEVEL_DATA  {{level_data}}
BUFFER_SIZE {{buffer_size}}

DADA_NSLOTS  {{dada_nslots}}
SLOTS_SKIP   {{slots_skip}}

{### Extra indices in SPEAD heaps ###}
NINDICES    3
{# The first index item is the running timestamp. IDX1_STEP = number of CBF clock ticks per heap #}
IDX1_ITEM   0
IDX1_STEP   {{idx1_step}}
{# This option ensures a crude time synchronisation between nodes #}
IDX1_MODULO {{idx1_modulo}}
{# IDX2_LIST: Comma separated list of absolute beam ids without spaces. #}
{# E.g. "0,1,2,3,4,5" would get the first 6 beams. #}
{# The template generator expects a list of ints #}
IDX2_ITEM   1
IDX2_LIST   {{idx2_list|join(',')}}
{# IDX3_LIST: Comma separated frequency IDs without spaces. #}
{# E.g. "0,64,128,192" would get the first 256 frequency channels, assuming 64 channels per FBFUSE sub-band #}
{# this can also be a string of the form "start:end:step" #}
{# The template generator expects a list of ints #}
IDX3_ITEM   2
IDX3_LIST   {{idx3_list|join(',')}}
