{# 
Run all programs from the UTC output directory
That way we save core dumps (if enabled) on the host filesystem
#}
cd {{outdir}}

{##### Remove existing DADA buffers #####}
{% if ipcrm %}
# Remove existing buffers the hardcore way
ipcrm -a
{% endif %}

{% if not ipcrm %}
# Remove existing buffers the civilized way
dada_db -d -k {{input_buffer.key}}
{# NOTE: output_buffers is an empty list in any pipeline mode that does not require them #}
{% for buf in output_buffers %}
dada_db -d -k {{buf.key}}
{% endfor %}
{% endif %}

{##### DADA Allocation #####}
{# Write a new output DADA keys file #}
# Allocate input buffer
dada_db -l -p -k {{input_buffer.key}} -b {{input_buffer.bytesize}} -n {{input_buffer.nbuffers}} -r {{input_buffer.nreaders}}

{##### Allocate output buffers #####}
{# NOTE: output_buffers is an empty list in any pipeline mode that does not require them #}
{% if output_buffers %}
# Allocate output buffers
{% endif %}
{% for buf in output_buffers %}
dada_db -l -p -k {{buf.key}} -b {{buf.bytesize}} -n {{buf.nbuffers}} -r {{'%d' % buf.nreaders}}
{% endfor %}

{##### Bandpass Monitor #####}
{# This periodically fills a shared memory segment with bandpass statistics #}
{# We can read said buffer from the NodeController by running the pipeline container with IPC=host #}
{% if bpmon %}
# C++ bandpass monitor, which reads the input buffer directly
beam_bandpass_shm --input_key {{input_buffer.key}} --nbeams {{input_buffer.nbeams}} --nchans_per_subband {{subband_nchans}} --nsubbands {{nsubbands}} --heap_size {{heap_size}} --log_level debug &
{% endif %}


{##### Transpose module, or dada_dbnull in discard mode #####}
{% if mode == 'filterbank' %}
{# IMPORTANT NOTE: Change to output dir before launching transpose to file ! #}
# Transpose module: {{mode}} mode
cd {{outdir}}
transpose_to_mult_files_cli -i {{input_buffer.key}} -g {{input_buffer.heapgroups_per_buffer}} -b {{input_buffer.nbeams}} -f {{nsubbands}} -c {{subband_nchans}} -t {{samples_per_heap}} -s {{filterbank_size}} --tscrunch {{tscrunch_extra}} --fscrunch {{fscrunch_extra}} &
sleep 1
{# production mode: transpose to individual DADA buffers for each beam #}
{% elif mode == 'production' %}
# Generate output keys file for transpose_to_dada_cli
rm -f {{outkeys_fname}}
{% for buf in output_buffers %}
echo {{buf.key}} >> {{outkeys_fname}}
{% endfor %}

# Transpose module: {{mode}} mode
transpose_to_dada_cli -i {{input_buffer.key}} -g {{input_buffer.heapgroups_per_buffer}} -b {{input_buffer.nbeams}} -f {{nsubbands}} -c {{subband_nchans}} -s {{samples_per_heap}} -o {{outkeys_fname}} --tscrunch {{tscrunch_extra}} --fscrunch {{fscrunch_extra}} &
sleep 1
{% elif mode == 'discard' %}
# Consume input data with dada_dbnull in discard mode
dada_dbnull -v -k {{input_buffer.key}} &
{% endif %}

{##### Cheetah ######}
{% if mode == 'production' %}
cheetah_pipeline -p SinglePulse -s psrdada --config {{cheetah_config_fname}} &
sleep 1
{% endif %}

{##### mkrecv ######}
# Launch mkrecv last
mkrecv_v4 --quiet --header {{mkrecv_header_fname}}
